@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Poppins", Helvetica, sans-serif;
}

h1{
    font-size: 3em;
    color: #fff;
}


/* h4 se usato come titolo di annuncio */
h4{ 
    font-weight: 600;   
 }  


h6{
    font-weight: 600; 
 }

p{
    font-size: 0.8em;

 }

 p.infoCard{
    color:#7A7A7A;
 }


 /* non serve la classe .infoCard, se la mettiamo per ogni paragrafo dobbiamo inserirla, invece con .card p   
 scriviamo meno codice, quindi sono da rimuovere tutte le classi dai paragrafi della card */
.card p {       
    font-size: 0.75em;
    margin: 0;
 }

 p.button{
    font-size: 1em;
    font-weight: 500;
 }

a{
    text-decoration: none;
    color: #000;
}


/*colore Airbnb---> #E41D56 */
